<!-- Server validation messages -->
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <!-- signup error messages -->
    <ng-template [ngIf]="loginErrors.length > 0">
      <div class="alert alert-danger" *ngFor="let errorMsg of loginErrors">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ errorMsg | titlecase }}</strong>
      </div>
    </ng-template>
  </div>
</div>

<!-- Session Expired messages -->
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="pull-right">
      <p 
        *ngIf="message"
        [@notify]="notificationState" 
        class="text-danger" 
        style="font-weight: bold;">{{message}}</p>
    </div>
  </div>
</div>

<div class="row" [@slideUp]>
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <hr>
    <!-- FormGroup: signupForm-->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal">
      <div class="">
        <!-- FormControl: identifier -->
        <div class="form-group">
          <label for="identifier" class="hidden-xs hidden-sm col-md-2 control-label">Identifier</label>
          <div class="col-xs-12 col-md-10">
            <div class="input-group">
              <input 
                type="text" 
                class="form-control" 
                id="identifier"
                placeholder="username or email"
                [formControlName]="'identifier'">
              <!-- valid/error icon-->
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-minus"></span>
              </div>
            </div>
            <!-- valid/error message -->
            <div class="error message">
              <ng-template [ngIf]="identifier.invalid && identifier.touched">
                <small [@shrink] *ngIf="identifier.errors['required']">The identifier is required.</small>
              </ng-template>
            </div>
          </div>
        </div>
        
        <!-- FormControl: password -->
        <div class="form-group">
          <label for="password" class="hidden-xs hidden-sm col-md-2 control-label">Password</label>
          <div class="col-xs-12 col-md-10">
            <div class="input-group">
              <input 
                type="password" 
                class="form-control" 
                id="password" 
                placeholder="Password"
                [formControlName]="'password'">
              <!-- valid/error icon-->
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-minus"></span>
              </div>
            </div>
            <!-- valid/error message -->
            <div class="error message">
              <ng-template [ngIf]="password.invalid && password.touched">
                <small [@shrink] *ngIf="password.errors['required']">The password is required.</small>
              </ng-template>
            </div>
          </div>
        </div>

      </div><!--END OF BS3 JUMBOTRON-->

      <hr>

      <!-- Submit / Reset -->
      <div class="form-group">
        <div class="col-xs-12 col-md-10 col-md-offset-2">
          <div class="pull-right">
            <button 
            type="button" 
            class="btn btn-danger"
            [disabled]="loginForm.pristine"
            (click)="onReset()">Reset</button>
            <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="loginForm.invalid">Login</button>
          </div>
        </div>
      </div>
      
    </form>
  </div>
</div>
