.container {
  height: 150px;
}

.social-icon {
  text-align: center;
  display: inline-block;
  padding: 4.6px;
  border: 1px solid #2c3e50;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.social-icon:hover {
  color: #fff;
  background-color: #2c3e50;
}