<div class="container">
  <div class="row">
    <hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">  
      <div class="pull-right">
        <span class="social-icon" alt="github icon" title="github" onclick="window.open('https://github.com/AdelMahjoub');"><i class="fa fa-github"></i></span>
        <span class="social-icon" alt="twitter icon" title="twitter" onclick="window.open('https://twitter.com/II_Adel_II?lang=fr');"><i class="fa fa-twitter"></i></span>
        <span class="social-icon" alt="freecodecamp icon" title="freecodecamp" onclick="window.open('https://www.freecodecamp.com/adelmahjoub');"><i class="fa fa-free-code-camp"></i></span>
        <span class="social-icon" alt="linkedin icon" title="linkedin" onclick="window.open('https://www.linkedin.com/in/adel-mahjoub-03484712a/');"><i class="fa fa-linkedin"></i></span>
      </div>
    </div>
  </div>
</div>