<!-- BS3 NAVBAR -->
<div class="container">
  <!-- Horizontal line with some padding and margin -->
  <div class="page-header"></div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button 
          type="button" 
          class="navbar-toggle"
          (click)="openMenu()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a 
          class="navbar-brand"
          routerLink="">Polls Arena</a>
      </div>

      <div 
        class="collapse navbar-collapse navbar-ex1-collapse in" 
        #collapse
        [@collapse]="collapseMenuState">
        <ul class="nav navbar-nav">
          <li 
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="polls">Gallery</a><!-- All polls link -->
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <!-- If user is authenticated, dashboard ang logout links -->
          <ng-template [ngIf]="isAuthenticated">
            <li [routerLinkActive]="'active'">
              <a routerLink="polls/dashboard">Dashboard</a><!-- Dashboard link -->
            </li>
            <li>
              <a (click)="onLogout()" style="cursor: pointer;">Logout</a>
            </li>
          </ng-template>
          <!-- If user is not authenticated, signup and login links -->
          <ng-template [ngIf]="!isAuthenticated">
            <li [routerLinkActive]="'active'">
              <a routerLink="auth/signup">Signup</a><!-- Signup link -->
            </li>
            <li [routerLinkActive]="'active'">
              <a routerLink="auth/login">Login</a><!-- Login link -->
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Horizontal line with some padding and margin -->
  <div class="page-header"></div>
</div>
