/* You can add global styles to this file, and also import other style files */
body {
  overflow: scroll;
}
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-thumb {
   background-color: #798d8f;
}